
<!DOCTYPE html>
<html lang="en">
	<head>
		

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="Description" content=""/>
<meta name="Keywords" content=""/>
<meta name="author" content="">
<link rel="shortcut icon" href="/resources/boxie-1/img/bg-dropdown-arrow.png?1402698725" type="image/png">
<title>NodeJS Activity</title>

<link rel="stylesheet" type="text/css" href="https://boxie.lemonstand.com/cms/lemonstand.css">
<link href='/css/font.css' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="//dd6vif294zh3b.cloudfront.net/store-boxie-5398d8498b7b0/themes/boxie-1/resources/font/font-awesome-4.1.0/css/font-awesome.min.css">
<link href="/css/main.css" rel="stylesheet">
<link href="/css/custom.css" rel="stylesheet">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript" src="/js/ecommerce.js"></script>

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<style type="text/css">
  .btn-primary,
  .ls-card-form .submit-button,
  .ls-card-form .delete-button {
    background-color: #0c4d6c;
  }
  .btn-primary:hover,
  .ls-card-form .submit-button:hover,
  .ls-card-form .delete-button:hover {
    background-color: #083347;
  }
  .navbar-default .navbar-nav > li > a{
      color: #777777;
  }
  .navbar .container{
      background: white;
  }
</style>
	</head>
	<body>
		<main id="page-content" class="wrap container">
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/"><img src="/img/logo.png" width="108px" height="25px" alt=""></a>
		</div>

		<div class="navbar-right navbar-utils">
			<ul class="list-unstyled clearfix">
				<li id="navbar-totals" class="totals">
				</li>
				<li class="dropdown">
					<a href="/cart" class="btn btn-primary cart-btn">
						<i class="fa fa-shopping-cart"></i>
					</a>
					
				</li>
			</ul>
		</div>

		<div class="navbar-collapse collapse">
			<div class="navbar-left">
								<ul id="main-nav" class="nav navbar-nav">
				  <li class="dropdown ">
				    <a class="dropdown-toggle" data-toggle="dropdown" id="shop-dropdown" href="/shop">
				    FLP{s} <b class="caret"></b>
				  	</a>
				    	              <ul class="dropdown-menu" role="menu" aria-labelledby="shop-dropdown">
	                	                    	                        <li role="presentation">
														<a href="https://www.facebook.com/magpangilinan" role="menuitem" tabindex="-1">
															M.A.G. Pangilinan
														</a>
													</li>
	                    	                        <li role="presentation">
														<a href="https://www.facebook.com/Lewin.Dota" role="menuitem" tabindex="-1">
															K.L. Jota
														</a>
													</li>
	                    	                        <li role="presentation">
														<a href="https://www.facebook.com/leplep09" role="menuitem" tabindex="-1">
															P.C. Duterte
														</a>
                                                    </li>
                                                    <li role="presentation">
														<a href="https://www.facebook.com/jedwardez" role="menuitem" tabindex="-1">
															J.E. Hernandez
														</a>
                                                    </li>
                                                    <li role="presentation">
														<a href="https://www.facebook.com/profile.php?id=1744670440&ref=content_filter" role="menuitem" tabindex="-1">
															K.J. Sina-On
														</a>
                                                    </li>
                                                    <li role="presentation">
														<a href="/FLP/RagedNuevaEspana" role="menuitem" tabindex="-1">
															R. Nueva Espana
														</a>
                                                    </li>
                                                    <li role="presentation">
														<a href="https://www.facebook.com/diazgeomosaic" role="menuitem" tabindex="-1">
															G.M. Diaz
														</a>
													</li>
	                    	                	              </ul>
	          				  </li>
				</ul>
				<ul class="nav navbar-nav">
  <li class=""><a href="/products">Shop</a></li>
</ul>
				<ul class="visible-xs nav navbar-nav">
					<li class=""><a href="//boxie.lemonstand.com/orders">My Orders</a></li>
					<li class=""><a href="//boxie.lemonstand.com/profile">My Profile</a></li>
					<li class="col-xs-12">
				    				    	<a href="//boxie.lemonstand.com/login" class="btn btn-block btn-default">Login <i class="fa fa-lock"></i></a>
				    				  </li>
				</ul>
			</div>
</nav>
		
<section>	
		{{{yield}}}
</section>	

	    
		</main>
		<footer id="page-footer">
	<div class="container">
		<div class="footer-contact text-center row">
			<div class="col-xs-12 col-sm-4 col-lg-2 col-lg-offset-3">
				<a href="#"><i class="fa fa-envelope-o"></i>test@capgemini.com</a>
			</div>
			<div class="col-xs-12 col-sm-4 col-lg-2">
				<a href="#"><i class="fa fa-phone"></i>949.983.5469</a>
			</div>
			<div class="social-buttons col-xs-12 col-sm-4 col-lg-2">
				<a class="facebook" href="http://facebook.com/diazgeomosaic"><i class="fa fa-facebook"></i></a>
				<a class="twitter" href="http://twitter.com/imjeyo"><i class="fa fa-twitter"></i></a>
				<a class="gplus" href="http://plus.google.com/107542405326497624954"><i class="fa fa-google-plus"></i></a>
			</div>
		</div>
		<div class="footer-info wrap row">
			<div class="col-sm-8">
				<ul class="list-unstyled">
  <li>&copy; FLP-11 2018</li>
  <li><a href="/about">About</a></li>
  <li><a href="/contact">Contact Us</a></li>
</ul>
			</div>
			<div class="col-sm-4">
				<p class="credit">Powered by <a href="/">FLP BATCH - 11</a></p>
			</div>
		</div>
	</div>
</footer>
		
		<script src="//dd6vif294zh3b.cloudfront.net/store-boxie-5398d8498b7b0/themes/boxie-1/resources/js/plugins.min.js"></script>
<script src="//dd6vif294zh3b.cloudfront.net/store-boxie-5398d8498b7b0/themes/boxie-1/resources/js/main.min.js"></script>

	<script type="text/javascript" src="//dd6vif294zh3b.cloudfront.net/store-boxie-5398d8498b7b0/themes/boxie-1/resources/js/jquery.raty.min.js"></script>
<script>
  function writeReview() {
  	$('#productWriteModal').modal('show');
  }
  //Rating Star activator
  if ($('.star').length > 0) {
      $('.star').raty({
          starOff: 'images/star-off.png',
          starOn: 'images/star-on.png',
          score: function() {
              return $(this).attr('data-score');
          }
      });
  }

  //
  // Star rating
  //
  $('.rating > span').click(function() {
      var currentId = $(this).attr('id');
      if (currentId === 'hate') {
          $('#hate').addClass('select');
          $('#dont-like, #ok, #like, #love').removeClass('select');
          $('.rating > p').text('I hate it');
          $("#item_rating").val('1');
      }
      if (currentId === 'dont-like') {
          $('#hate, #dont-like').addClass('select');
          $('#ok, #like, #love').removeClass('select');
          $('.rating > p').text('I don\'t like it');
          $("#item_rating").val('2');
      }
      if (currentId === 'ok') {
          $('#hate, #dont-like, #ok').addClass('select');
          $('#like, #love').removeClass('select');
          $('.rating > p').text('It\'s ok');
          $("#item_rating").val('3');
      }
      if (currentId === 'like') {
          $('#hate, #dont-like, #ok, #like').addClass('select');
          $('#love').removeClass('select');
          $('.rating > p').text('I like it');
          $("#item_rating").val('4');
      }
      if (currentId === 'love') {
          $('#hate, #dont-like, #ok, #like, #love').addClass('select');
          $('.rating > p').text('I love it');
          $("#item_rating").val('5');
      }

  });
</script>

	</body>
</html>