<section id="shop" class="page-section row"></section>
<!-- #LEFT CONTAINER -->
<div class="col-xs-12 col-sm-3">
    <div class="sidebar">
        <h4>Categories</h4> 
<ul class="list-unstyled  categories-group ">
    <li>
    <a href="/products/vegetables" class=""><span class="badge">{{products.length}}</span>Vegetables</a>
            </li>
            
    <li>
    <a href="/products/fruits" class=""><span class="badge">4</span>Fruits</a>
            </li>
    <li>
    <a href="/prodcuts/meat&poultry" class=""><span class="badge">4</span>Meat & Poultry</a>
            </li>
</ul>

    </div>
</div>
<!-- /LEFT CONTAINER -->

<!-- #RIGHT CONTAINER -->
<div class="col-xs-12 col-sm-9">
        <div id="product-list">
<div class="product-grid">
<div id="" class="row">

<div class="col-xs-12 col-sm-6 col-md-4 product-holder">
        {{#products}}
<form  class="custom" onsubmit="return false" method="post" action="/shop">
<div class="product-item text-center">
<a class="product-img" href="/products/{{_id}}/edit">
<img class="img-responsive" src="{{headerImage}}" alt="" />
</a>
<h3 class="product-title">
<a href="/products/{{_id}}/edit">{{name}}</a>
</h3>
<div class="h4 product-price">
<span>{{price}}</span>
</div>
<div class="buttons-holder">
</div>
</div>
</form>
        {{/products}}
</div>


</div>
</div>
<div class="pagination-holder">
</div>

</div>
</div>
<!-- /RIGHT CONTAINER -->
</section>